// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

:root {
  --smaller: .75;
  --base-color: #f7f6f3;
  --base-brown: #B8A283;
  --base-green: #858872;
  --secondary-green: #C2C4BA;
}
